:host{
width: 500px;
  display: block;
  margin: 37px auto;
  border: 2px dashed darkblue;
  padding: 15px;
  width: 500px;
  height: 500px;
  text-align: center;
}
:host.is-last{
  border: 2px solid black;
}
:host.fps{
  border: 4px solid darkolivegreen;
}
:host.rpg{
  border: 4px solid darkorange;
}
:host.FoundGame{
  background-color: darkcyan;
}
